<div class="power_button">
	<div class="outer_circle"><div class="inner_circle blue"></div></div>
</div>
<nav class="nav_about">
	<div class="outer_circle">
		<div class="inner_circle blue">
			<a target="_blank" title="微博" href="http://weibo.com/u/1734589795">
				<i class="iconfont">&#468;</i>
			</a>
		</div>
	</div>
	<div class="outer_circle">
		<div class="inner_circle yellow">
			<a target="_blank" title="Brix" href="http://etaoux.github.com/brix/">
				<i class="iconfont">&#353;</i>
			</a>
		</div>
	</div>
	<div class="outer_circle">
		<div class="inner_circle red">
			<a title="抽奖" href="/ux.html">
				<i class="iconfont">&#301;</i>
			</a>
		</div>
	</div>
	<div class="outer_circle">
		<div class="inner_circle black">
			<a target="_blank" title="博客" href="/blog.html">
				<i class="iconfont">&#390;</i>
			</a>
		</div>
	</div>
</nav>
