<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="chrome=1" />
    <meta name="author" content="{{ site.author.name }}" />
    <title>{{ page.title }}--左莫莫右莫莫</title>

    <link rel="stylesheet" href="{{ ASSET_PATH }}/css/styles.css">
    <link rel="stylesheet" href="{{ ASSET_PATH }}/css/pygment_trac.css">
    <script src="{{ ASSET_PATH }}/js/scale.fix.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    {% include JB/analytics %}
  </head>
  <body>
    <div class="wrapper">
      <header>
        <h1 class="header"><a href="{{ HOME_PATH }}">{{ site.title }}</a></h1>
        <ul>
          {% assign pages_list = site.pages %}
          {% assign group = 'navigation' %}
          {% include JB/pages_list %}
        </ul>
        {% if site.ads.google %}
        <div class="misc ad">
          <script type="text/javascript"><!--
            google_ad_client = "{{ site.ads.google.client }}";
            google_ad_slot = "{{ site.ads.google.slot }}";
            google_ad_width = {{ site.ads.google.width }};
            google_ad_height = {{ site.ads.google.height }};
            //-->
          </script>
          <script type="text/javascript" src="http://pagead2.googlesyndication.com/pagead/show_ads.js"></script>
        </div>
        {% endif %}
        {% if site.author %}
        <div class="misc vcard">
          <h4>about me</h4>
          <ul>
            {% if site.author.weibo %}
            <li class="contact"><a target="_blank" href="http://weibo.com/u/{{ site.author.weibo }}">{{ site.author.name }}</a></li>
            {% endif %}
            {% if site.author.github %}
            <li class="github"><a target="_blank" href="http://github.com/{{ site.author.github }}/" rel="me">github.com/{{ site.author.github }}</a></li>
            {% endif %}
          </ul>
        </div><!-- misc -->
        {% endif %}
      </header>

      <section>
      {{ content }}
      </section>

      <footer>
      <p>@左莫莫右莫莫</p>
      </footer>
    </div>
    <!--[if !IE]><script>fixScale(document);</script><!--<![endif]-->
  </body>
</html>
